<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title></title>
</head>
<body class='shadow-mask'>
<noscript>
    <div class="noscript-container">
        Hi there! Please
        <div class="noscript-enableJS">
            <a href="https://www.enablejavascript.io/en" target="_blank" rel="noopener noreferrer">
                <b>enable Javascript</b>
            </a>
        </div>
        in your browser to use Ant Design, Out-of-the-box mid-stage front/design solution!
    </div>
</noscript>
<div id="root"></div>
</body>
</html>
